--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers>=2.5.0
transformers>=4.38.0
pandas>=2.0.0
numpy>=1.24.0
requests>=2.31.0
tqdm>=4.66.0
google-generativeai>=0.4.0
python-dotenv>=1.0.0
streamlit>=1.30.0
PyMuPDF>=1.23.0